.author-page {
  align-items: center;
  display: flex;
	margin-bottom: $larger-horizontal;
  min-height: 120px;
  padding: 0 $base-pad;
}

.author-description {
  background-color: $gray-lighter;
  flex: 1;
  font-family: $glypha-roman;
  margin: 0;
  padding: $large-horizontal;

  &.with-photo {
    margin-left: 50px;
  }
}

.author-photo {
  border-radius: 75px;
  overflow: hidden;

	img {
		margin: 0;
	}
}

.author-name {
	font-size: 21px;
	margin-bottom: 15px;
	margin-top: 0;
}
